name             = "example" 
api_token        = "secret token"
webhook_endpoint = "https://webhooks.corp.eu1.goci.io" 
pricing_plans    = [
  {
    name     = "Starter"
    interval = "month"
    currency = "eur"
    amount   = 999
  }
]
